@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(105deg, #c8ffe0, cyan);
}

#root {

}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 10px;
  background: #77b9ff;
  color: white;
  border: none;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.footer {

}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.gameContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 70rem;
  aspect-ratio: 1/1;
  position: relative;
}



#gameBoard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.5rem solid #8D8D8D;
  border-radius: 0.5rem;
  justify-items: stretch;
  box-shadow: 4px 4px 0px 0px #767676;
}

.gameSquare {
  flex-basis: 33.33333333%;
}

.winnerMessage {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #fffa;
  width: 100%;
  height: 100%;
  margin-block: 0;
  text-align: center;
  border-radius: 0.5rem;
}

@keyframes backToPlace {
  100% {
    transform: none;
  }
}